nav img{
    width: 128px;
height: 30px;
}
.nav__middle li{
    font-family: Red Hat Display;
    font-weight: 400;
    font-size: 16px;
   color: #222222;
    line-height: 20px;
    letter-spacing: 0%;
}
.nav__middle li:hover{
    cursor: pointer;
    color: orange;
    font-weight: 600;
}
.nav__middle{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav__end li i{
font-size: 20px;
}
.nav__end li i:hover{
    cursor: pointer;
    color: orange;
}
.nav__end{
    display: flex;
    align-items: center;
    gap: 25px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}
header{
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid #402F2C;
}