.section-wrapper {
  width: 100%;
  padding: 40px 0;
  background: #fff;
  font-family: sans-serif;
}

/* TOP STATS */
.stats {
  width: 100%;
  background: #fdeee6;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 180px;
}

.stat-box h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 5px;
  transition: 0.3s;
}

.stat-box p {
  opacity: 0.8;
}

.stat-box:hover h1 {
  transform: scale(1.1);
  color: #ff6347;
}

/* MAIN */
.main-section {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 0 60px;
}

.left .title {
  font-size: 45px;
  margin-bottom: 20px;
}

.text {
  width: 420px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

/* Button */
.shop-btn {
  margin-top: 10px;
  background: #3b2d2d;
  color: white;
  padding: 12px 26px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.shop-btn:hover {
  background: #000;
  transform: translateY(-3px);
}

/* RIGHT IMAGE */
.right img {
  width: 430px;
  border-radius: 10px;
  transition: 0.3s;
}

.right img:hover {
  transform: scale(1.03);
}
