.footer {
 
  padding: 60px 0;
  display: flex;
  justify-content: center;
align-items: center;
gap: 300px;
margin: 20px;
}

.footer-left h3 {
  font-weight: 600;
  font-size: 32px;
    
  color: #000;
}

.footer-left p {
  margin-top: 14px;
  width: 340px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #555;
}

.footer-links h4,
.footer-contact h4 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
  color: #000;
}

.footer-links a {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #555;
  text-decoration: none;
}

.footer-links a:hover {
  color: #000;
}

.footer-contact p {
  margin-bottom: 8px;
  font-size: 18px;
  color: #555;
}
